/*
    $orange: E75B10
    $blue: 1400FF
    $darkblue: 1E167A
    $darkblack: 0D2C48
*/
.html {
    color: #0D2C48;
}

.navbar {
    padding: 10px 170px 0px 170px;
    height: 80px;
    margin: 0 auto;
    z-index: 2;
}

.navbar.scrolled {
    background-color: white;
    transition: background-color;
}

.announcement-bar {
    height: 30px;
    display: none;
}

.hero {
    height: 800px;
    background-image: url('../images/hero_background_full.svg');
    background-repeat: no-repeat;
    background-position: right top;
    width: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
    background-size: 100%;
    padding: 0px 170px;
    max-width: 1440px;
    margin: 0 auto;
    -webkit-transform: translate3d(0,0,0)
}

.container-fluid {
    height: 100%;
    width: 45%;
    margin: auto 0;
    padding-left: 0px;
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    color: #1E167A;
}

.banner {
    height: 300px;
    width: 100%;
    background-color: #1500ff07;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-text {
    padding: 30px 350px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #1E167A;
    background-image: url('../images/dot_grid.svg');
    background-repeat: no-repeat;
    background-position: 300px 0px;
    max-width: 1440px;
    margin: 0 auto;
}

.banner-text-no-background {
    padding: 30px 350px 0px 350px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: #1E167A;
    max-width: 1440px;
    margin: 0 auto;
}

.blue-button {
    width: 120px;
    height: 40px;
    font-size: 1rem;
    background-color: #1E167A;
    font-weight: 800;
    color: white;
    border: none;
}

.header {
    margin-bottom: 10px;
}

.gradient-text-b-to-o {
    background: -webkit-linear-gradient(45deg, #1400FF, #E75B10);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-text-o-to-o {
    background: -webkit-linear-gradient(135deg, #1400FF, #E75B10);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landing-section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 170px;
}

.landing-section-minor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-section-major {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 170px;
}

.section-header {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    color: #1E167A;
    padding: 60px 0px;
}

.section-header-minor {
    text-align: left;
    font-size: 1.75rem;
    font-weight: 500;
    color: #1E167A;
    padding-top: 100px;
}

.section-row {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.section-row-how-to {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.section-row-flow-section {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-row-icon-section{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    display: flex;
}

.icon-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 0px 20px;
    height: 500px;
}


.col-lg-6 img {
    width: 100%;
    display: block;
    margin: auto;
}

.icon-column-image {
    height: 80px;
    width: 80px;
    background-size: contain;
    margin: auto;
}

.icon-column-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 30px;
    text-align: center;
}

.icon-description {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
    margin-bottom: 0px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    border: 2px #1E167A;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px #1E167A;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px #1E167A;
}

input:checked + .slider {
    background-color: #1b8e22;
}

input:focus + .slider {
    box-shadow: 0 0 1px #1b8e22;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border: 2px #1E167A;
    border-radius: 34px;
}

.slider.round:before {
    border: 2px #1E167A;
    border-radius: 50%;
}

.bad-section {
    height: 700px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 170px;
    background-image: url('../images/bad-connected-graph.svg');
    background-repeat: no-repeat;
    background-position: 700px;
    background-size: 40%;
}

.good-section {
    height: 700px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 170px;
    background-image: url('../images/good-connected-graph.svg');
    background-repeat: no-repeat;
    background-position: 700px;
    background-size: 45%;
    width: 100%;
}

.message-flow {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/message-flow.svg')
}

.graph-section-top {
    display: flex; flex-direction: column; width: 400px; height: 600px;
}

.graph-section-middle {
    padding-bottom: 30px;
    font-size: 1.2rem;
}

.graph-section-middle p {
    font-size: 1.75rem;  font-weight: 500; color: #E75B10;
}

.graph-section-top h3 {
    padding-bottom: 30px; font-size: 1.5rem; font-weight: 500;
}

.section-row-graph {
    width: 750px; padding-top: 50px;
}

.toggle-section {
    display: flex;
    align-items: center;
    height: 75px;
    margin: 0 auto;
    width: 200px;
    padding-bottom: 60px;
}

.toggler {
    font-size: 1.25rem;
    padding-right: 10px;
    font-weight: 600;
    color: #1E167A
}

@media only screen and (max-width: 1091px) {
    .banner-text-no-background {
        padding: 0px 250px 0px 250px;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        color: #1E167A;
        max-width: 1440px;
        margin: 0 auto;
    }

    .navbar {
        padding: 10px 120px 0px 120px;
        height: 60px;
    }

    .hero {
        padding: 0px 120px;
        height: 500px;
        background-size: 80%;
    }

    .header {
        font-size: 1.5rem;
    }

    .blue-button {
        width: 100px;
        height: 30px;
        font-size: 0.8rem;
    }

    .banner {
        height: 200px;
        display: flex;
    }

    .banner-text {
        padding: 30px 250px;
        font-size: 1rem;
        background-position: 200px 0px;
        background-size: 20%;
    }

    .section-header {
        font-size: 1.5rem;
        padding: 40px 0px;
    }

    .landing-section {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0px 120px;
    }

    .icon-column {
        padding: 0px 10px;
        height: 200px;
    }

    .icon-column-image {
        height: 50px;
        width: 50px;
        background-size: 100%;
        scale: 80%;
        margin: auto;
    }

    .section-row-icon-section{
        height: 200px;
        max-width: 600px;
        padding-top: 10px;
    }
    
    .icon-column-subtitle {
        font-size: 1.1rem;
        text-align: center;
    }

    .icon-description {
        font-size: 1rem;
    }

    .message-flow {
        height: 70%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .section-row-flow-section {
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .section-header-minor {
        text-align: left;
        font-size: 1.25rem;
        font-weight: 500;
        color: #1E167A;
        padding-top: 100px;
    }

    .section-row-graph {
        width: 750px; padding-top: 30px;
    }

    .bad-section {
        height: 500px;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0px 150px;
        background-image: url('../images/bad-connected-graph.svg');
        background-repeat: no-repeat;
        background-position: 500px;
        background-size: 35%;
    }

    .good-section {
        height: 500px;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0px 150px;
        background-image: url('../images/good-connected-graph.svg');
        background-repeat: no-repeat;
        background-position: 525px;
        background-size: 40%;
        width: 100%;
    }

    .graph-section-top {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 300px;
    }
    
    .graph-section-middle {
        padding-bottom: 15px;
        font-size: 0.8rem;
    }
    
    .graph-section-middle p {
        font-size: 1.2rem;  font-weight: 500; color: #E75B10;
    }
    
    .graph-section-top h3 {
        padding-bottom: 30px; font-size: 1rem; font-weight: 500;
    }

    .section-row-how-to {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
    }

    .col-lg-6 img {
        width: 70%;
    }
}

@media only screen and (max-width: 891px) {
    .section-header-minor {
        font-size: 1rem;
    }

    .bad-section {
        height: 500px;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0px 150px;
        background-image: url('../images/bad-connected-graph.svg');
        background-repeat: no-repeat;
        background-position: 400px;
        background-size: 30%;
    }

    .good-section {
        height: 500px;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0px 150px;
        background-image: url('../images/good-connected-graph.svg');
        background-repeat: no-repeat;
        background-position: 400px;
        background-size: 35%;
        width: 100%;
    }

    .graph-section-top {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 300px;
    }
    
    .graph-section-middle {
        padding-bottom: 10px;
        font-size: 0.6rem;
    }
    
    .graph-section-middle p {
        font-size: 1rem;  font-weight: 500; color: #E75B10;
    }
    
    .graph-section-top h3 {
        padding-bottom: 15px; font-size: 0.8rem; font-weight: 500;
    }

}

@media only screen and (max-width: 691px) {
    .navbar {
        padding: 10px 40px 0px 40px;
        height: 60px;
    }

    .hero {
        padding: 0px 40px;
        background-size: 140%;
        height: 480px;
        margin-top: 40px;
        background-position: top;
    }

    .container-fluid {
        height: 100%;
        width: 100%;
        margin: auto 0;
        padding-left: 0px;
        padding-top: 80%;
        display: flex;
        flex-direction: column;
        color: #1E167A;
    }

    .banner {
        height: 125px;
        display: flex;
    }

    .banner-text {
        padding: 30px 50px;
        font-size: 1rem;
        background-position: 50px 25px;
        background-size: 30%;
    }

    .section-header {
        text-align: center;
        font-size: 1.25rem;
        font-weight: 700;
        color: #1E167A;
        padding: 50px 40px 0px 40px;
    }

    .landing-section {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0px 40px;
    }

    .icon-column-image {
        height: 60px;
        width: 60px;
        background-size: contain;
        margin: auto;
    }

    .col-sm-4 {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .icon-column-subtitle {
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        margin-top: 10px;
    }

    .icon-description {
        text-align: center;
        font-size: 0.8rem;
        padding-top: 10px;
    }

    .section-row-icon-section {
        height: 500px;    
    }

    .section-row-flow-section {
        height: 500px;
    }

    .message-flow {
        height: 100%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../images/message-flow-column.svg')
    }

    .bad-section {
        padding: 0px 40px;
        background-repeat: no-repeat;
        background-position: 225px 150px;
        background-size: 70%;
    }

    .good-section {
        padding: 0px 40px;
        background-repeat: no-repeat;
        background-position: 200px 150px;
        background-size: 80%;
    }

    .graph-section-top {
        width: 175px;
    }

    .toggle-section {
        display: flex;
        align-items: center;
        height: 75px;
        margin: 0 auto;
        width: 200px;
        padding-bottom: 60px;
        justify-content: center;
    }

    .toggler {
        font-size: 0.8rem;
        padding-right: 10px;
        font-weight: 600;
        color: #1E167A
    }

    .landing-section-major {
        padding: 0px 40px;
    }

    .how-to-step {
        color: #E75B10;
        font-weight: 600;
        font-size: 1rem;
        padding-bottom: 2%;
    }

    .how-to-header {
        color: #1E167A;
        font-weight: 600;
        font-size: 1.25rem;
        padding-bottom: 2%
    }

    .how-to-description {
        color: #0D2C48;
        font-size: 0.8rem;
        padding-bottom: 15px;
    }

    .wow {
        padding-bottom: 20px;
    }

    .banner-text-no-background {
        padding: 0px 60px;
        font-size: 1rem;
    }

    .footer-description {
        font-size: 0.8rem;
        padding-bottom: 5px
    }
}
